<div class="card cardLogin">
    <div class="card-header">
        <h2>About</h2>

    </div>
    <hr>
    <div class="card-body ">
        <p>Soy Antonio Marín Rodríguez, para mayor información visita los siguiente enlaces: </p>
    </div>
    <div class="card-bodyAbout">
        <a href="http://www.amarin-profesional.website/" class="button">Website</a>
        <a href="https://www.linkedin.com/in/antonio-mar%C3%ADn-rodr%C3%ADguez-07681b1bb/" class="button ">Linkedin</a></div>
</div>
</div>