<div class="card cardIndex">
    <div class=" card-header">
        <h1> NOTES APP </h1>
    </div>
    <hr>
    <div class="card-body">
        <p> Página que permite a los usuarios registrarse personalmente y crear sus notas personales</p>
        <h3>Tecnologías:</h3>
        <p> - Servidor NodeJs <br><br> - Uso de framework Express <br><br> - Uso de passport para las identificaciones de los usuarios <br><br> - bcryptjs para el cifrado de texto para contraseñas <br><br> - Uso de mongoose para administración de información
            en la base de datos MongoDB </p>
    </div>
</div>