<nav class="navbar ">

    <a class="navbar-main" href="/">Notes App</a>

    <ul class="navbar-list">
        <div class="navbar-list-left">
            {{#if user}}
            <li>
                <a class="nav-link" href="/notes">Notes</a>
            </li>
            <li>
                <a class="nav-link" href="/notes/add">Add Note</a>
            </li>
            {{/if}}
            <li>
                <a class="nav-link" href="/about">About</a>
            </li>
        </div>

        <div class="navbar-list-right">
            {{#if user}}
            <li>
                <a class="nav-link" href="/users/logout">Logout</a>
            </li>
            {{else}}
            <li>
                <a class="nav-link" href="/users/signin">Signin</a>
            </li>
            <li>
                <a class="nav-link" href="/users/signup">Signup</a>
            </li>
            {{/if}}
            <br>

        </div>
    </ul>
</nav>