<div class="list-notes">
    {{#each list_notes}}
    <div class="card cardNote">
        <div class="card-header">
            <div class="card-title"></div>
            <h3>{{title}}</h3>
            <a href="/notes/edit/{{_id}}"> <i class="fas fa-edit"></i></a>
        </div>
        <hr>
        <div class="card-body">
            <p>{{description}}</p>
            <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">

                <button type="submit"> Delete</button>
            </form>
        </div>
    </div>

    {{/each}}

    <div class="card cardNote cardEmpty">
        <div class="card-body">
            <h2> CREATE NOTE</h2>
            <a href="/notes/add" class="btn btn-success btn-block">+</a>
        </div>
    </div>

</div>