	<div class="card cardNotesCreate">
		<div class="card-header">
			<h2> Edit Note</h2>
		</div>
		<hr>
		<div class="card-body">
			<form class="form" action="/notes/edit-note/{{note._id}}?_method=PUT" method="POST">
				<input type="hidden" name="_method" value="PUT">		
					<input type="text" class="form-control" name="title" placeholder="Title" value="{{note.title}}">
			
					<textarea   class="form-control" name="description" >{{note.description}} </textarea>
				
					<button class="btn btn-primary btn-block" type="submit">
						Save
					</button>
			</form>
		</div>
	</div>