<div class="card cardNotesCreate">
    <div class="card-header">
        <h2>New note</h2>
    </div>
    <hr>
    <div class="card-body">
        <form class="form" action="/notes/new-note" method="POST">

            <input type="text" name="title" class="form-control" placeholder="Title" autofocus="true">

            <textarea name="description" class="form-control">
					</textarea>

            <button class="btn btn-primary btn-block" type="submit"> Save
					</button>
        </form>
    </div>
</div>