<div class="card cardRegistrer">
    <div class="card-header">
        <h2> Account Register</h2>
    </div>
    <hr>
    <div class="card-body">
        <form class="form" action="/users/signup" method="POST">
            <input type="text" name="name" class="form-control" placeholder="Name" value="{{name}}">

            <input type="email" name="email" class="form-control" placeholder="Email" value="{{email}}">

            <input type="password" name="password" class="form-control" placeholder="Password" value="{{password}}">

            <input type="password" name="confirm_password" class="form-control" placeholder="Password" value="{{confirm_password}}">

            <button type="submit" class="btn btn-primary btn-block">SignUp</button>
        </form>
    </div>
</div>