<div class="card cardLogin">
    <div class="card-header">
        <h2> Account Login </h2>
    </div>
    <hr>
    <div class="card-body">
        <form class="form" action="/users/signin" method="POST">
            <input type="email" name="email" class="form-control" placeholder="Email" value="{{email}}">

            <input type="password" name="password" class="form-control" placeholder="Password" value="{{password}}">

            <button type="submit" class="btn btn-primary btn-block"> SignIn </button>
        </form>
    </div>
</div>